<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Progress and Roadmap</h2>
                    <h3 class="section-subheading text-muted">We are on the way.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019</h4>
                                    <h4 class="subheading">The Beginning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">CCOP Project started</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2020</h4>
                                    <h4 class="subheading">Field Study</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Conducted literature and field study on cyber metrics and executive decision making</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2020</h4>
                                    <h4 class="subheading">Early Alpha Prototypes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Finished first prototypes of CCOP dashboard and its platform backend.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2020</h4>
                                    <h4 class="subheading">Updated Prototypes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Updated and enhanced the prototypes of CCOP dashboard and its platform backend. Deployed and demonstrated the early prototypes to stakeholders.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2020</h4>
                                    <h4 class="subheading">Started CSCRC/CREST Summer Research Scholarship Program</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Started the summer research scholarship program with three exciting projects on collaboration process, recommendation, and AI-based assistant for CCOP.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>