<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Cyber Common Operating Picture</h2>
                    <h3 class="section-subheading text-muted">Clarity precedes informed decisions.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <img src="{{ site.baseurl }}/img/CCOP.jpg" class="img-responsive img-centered" alt="CCOP">
                    <!-- '{{ site.baseurl }}/img/header-bg-3.jpg' -->
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-lg-offset-2 text-justify">
                    <p>Clarity facilitates informed decisions in the cyber space. This clarity depends on an keen awareness of cyber status of the organization, which has been distilled to the right fidelity level, and shared among stakeholders in an organization. The stated shared awareness of cyber status can be defined as a <b>Cyber Common Operating Picture (CCOP)</b>. At a glance, CCOP can be understood as a compilation of multiple information from both within and without organization, distilled to the essence, and depicted selectively to stakeholders. </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-lg-offset-8 text-justify">
                    <a href="http://ccop-dashboard.crest-centre.net" class="btn btn-xl">Demonstration</a>
                </div>
            </div>
            <!-- <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a> -->
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <!-- <i class="fas fa-tachometer-alt"></i> -->
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                        <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Detailed</h4>
                    <p class="text-muted">Provide hierarchical, evidence-based metrics that reveal both high-level insights and details.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Customizable</h4>
                    <p class="text-muted">Extensible and stable platform architecture that allows CCOP to adapt to organizations.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Smart</h4>
                    <p class="text-muted">Generate more insights with data analytics and artificial intelligence.</p>
                </div>
            </div>
        </div>
    </section>